
.icon {
  background-image: url('img/sprite.jpg');
}

.icon-testsprite {
  background-position: -0px -0px;
  width: 408px;
  height: 208px;
}
.icon-pitch {
  background-position: -0px -208px;
  width: 1344px;
  height: 958px;
}
